<div class="card p-2 m-1">
  <div class="row">
    <h1 class="col">{{ photo?.title }}</h1>
    <div class="col-1">
      <button class="btn btn-outline-secondary" [routerLink]="['/posts/edit/', photo?.id]">
        <i class="fa fa-edit fa-lg"></i>
      </button>
      <button class="btn btn-outline-danger" (click)="deletePost()">
        <i class="fa fa-trash fa-lg"></i>
      </button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <img [src]="photo?.url" />
    </div>
  </div>
</div>
